.header {
  border-bottom: 1px solid #eaeaea;
  padding: 24px 0;
}

.container {
  width: 1200px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  font-size: 32px;
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.text {
  margin: 4px 0 0;
  font-size: 14px;
  color: #9d9d9d;
}

.nav {
  display: flex;
  gap: 30px;
}

.link {
  text-decoration: none;
  color: #5c5c5c;
  font-size: 16px;
}
